@use '@scss/foundations/placeholders/section';
@use '@scss/tokens/flex';
@use '@scss/foundations/mixins';

footer {
  background: #364c61;
  color: #FFFFFF;
  border-top: 1px solid lightgrey;

  p {
    color: #FFFFFF;
  }
}

.section-footer-contact {
  @include mixins.section-layout($gap: var(--space-none), $paddings: var(--space-m));

  .contact-social-media {
    @include mixins.section-layout($flex: flex.$flex-equal, $justify: flex-end, $paddings: var(--space-m));
    border-right: 1px solid grey;

    figcaption {
      text-align: center;
      opacity: 0.7;
    }

    .logo {
      width: 60px;
      height: auto;
      opacity: 0.7;
    }
  }

  .contact-adress {
    @include mixins.section-layout($direction: column, $flex: flex.$flex-equal, $gap: var(--space-none), $align: flex-start, $paddings: var(--space-m));
  }
}

.section-footer-copyright {
  @extend %section-row;

  .copyright {
    @include mixins.section-layout($paddings: var(--space-xl), $color: darkgrey);
    border-top: 1px solid grey;
  }
}