// scss/pages/home/index.scss
@use '@scss/foundations/mixins';
@use '@scss/pages/home/hero';

[data-section="info-1"],
[data-section="info-3"] {
    background: var(--color-bg-base);
    padding-block: var(--space-5xl);
}

[data-section="info-2"] {
    background: linear-gradient(135deg,
            var(--color-gradient-dark-start) 0%,
            var(--color-gradient-dark-end) 100%);
    color: var(--color-text-inverse);
    padding-block: var(--space-5xl);
}



@include mixins.media-down(md) {

    .split--p-5xl {
        padding: var(--space-m);
    }
}