{% extends "@Admin/Shared/UI/Views/Layout/admin_base.twig" %}

{% block title %}Administration - {{ parent() }}{% endblock %}

{% block content %}
{{ block('admin_subnav') }}
<div class="section--row reveal slide-down">
    <div class="box--white box--m box--center">
        <h2>En construction</h2>
    </div>
</div>
{% endblock content %}
