{% extends "@Shared/layout/base.twig" %}

{% block title %}Cgu - {{ parent() }}{% endblock %}

{% block content %}
<div class="section-cgu-policy-presentation reveal slide-down">
	<h1>Politique de confidentialité</h1>
	<p>Cette page présente notre politique de confidentialité et explique comment nous collectons, utilisons et protégeons vos données personnelles.</p>
	<h2>1. Responsable du traitement</h2>
	<p>Renove Construct SPRL
	Rue des brasseries2, 7170 Manage Belgique
	contact@renoveconstruct.be</p>
	<h2>2. Données collectées</h2>
	<ul>
		<li>Prénom,</li>
		<li>Nom,</li>
		<li>Prénom,</li>
		<li>Email,</li>
		<li>Adresse IP,</li>
		<li>Données transmises via formulaires,</li>
		<li>données techniques de navigation enregistrées automatiquement dans les journaux du serveur à des fins de sécurité et de maintenance.</li>
	</ul>
	<h2>3. Finalité du traitement</h2>
	<p>
		répondre aux demandes de contact
		établir des devis
		communication commerciale
		amélioration du site
	</p>
	<h2>4. Base légale (RGPD)</h2>
	<p>
		Le traitement repose sur le consentement de l’utilisateur ou l’intérêt légitime de l’entreprise.
	</p>
</div>
{% endblock %}

