// scss/partials/cgu/_policy.scss

@use '@scss/foundations/values' as values;
@use '@scss/foundations/mixins' as mixins;

.section-cgu-policy-presentation {
    @include mixins.section-layout($direction: column,
        $align: flex-start,
        $textAlign: left,
        $gap: values.$space-xs,
        $paddings: values.$space-s,
        $margins: values.$space-s);


}