# Configuration d'environnement
APP_DATAS_SOURCE=mysql
SHARED_PATH=            # uniquement requis en production (dossier de partage public sur le serveur "shared")

# Configuration pour la création du conteneur mysql
DB_NAME=                # à définir
DB_ROOT_PASSWORD=       # à définir
DB_USER=                # à définir
DB_PASSWORD=            # à définir

# Configuration de déboggeage
APP_ENV=dev             # prod ou dev
APP_DEBUG=true
# désactivation du cache Twig (app/cache/twig) → Changements de templates immédiatement
# affichage des erreurs PHP / exceptions avec stack trace
# profiler / bar de debug
# logs de base activés pour dev

DEBUG_VERBOSE=true
# DEBUG_VERBOSE (extension de APP_DEBUG) (PS: Si APP_DEBUG=false, DEBUG_VERBOSE peut être ignoré)
# Affiche les détails “ultra sensibles” qui ne sont pas nécessaires pour le debug normal
# Concrètement (si true), cela provoque :
# logs internes détaillés (ex : routeur, query SQL, validation, services internes)
# informations sensibles uniquement visibles en dev
# souvent utilisé pour investigation ciblée ou développement sur des parties complexes

APP_MAINTENANCE=false
MAIL_DEBUG=OFF

# Configuration de l'application
DATETIMEZONE="Europe/Brussels"

# Configurations de l'entreprise
MAIL_SUBJECT='Renove Construct SPRL - Contact depuis le site web'
BASE_ENTREPRISE_TITLE="Panneaux photovoltaïques Wallonie | Installation rapide | Renove Construct"
BASE_ENTREPRISE_NAME="Renove Construct SPRL"
BASE_ENTREPRISE_DESCRIPTION="renoveconstruct.be est votre partenaire de confiance pour les fenêtres et panneaux photovoltaïques en Wallonie. Obtenez un devis gratuit dès aujourd'hui !"
BASE_ENTREPRISE_PHONE="+32 492/75.95.77"
BASE_ENTREPRISE_MAIL="contact@renoveconstruct.be"
BASE_ENTREPRISE_ADDRESS="Rue des brasseries 2, 7170 Manage Belgique"
BASE_ENTREPRISE_TVA="BE0439915784"
BASE_ENTREPRISE_WEBSITE="https://www.renoveconstruct.be"
BASE_ENTREPRISE_WHATSAPP="https://wa.me/32492759577"
BASE_ENTREPRISE_SOCIAL_FACEBOOK="https://www.facebook.com/profile.php?id=61580757421154"

# Configurations du développeur
BASE_DEV_COPYRIGHT="© 2026 Steven Ferlazzo. All rights reserved."