# Fichiers et répertoires à ignorer par Git
# Uniquement push les dossiers/fichiers nécessaires au projet:
# src/, core/, config/, docker-compose.yml, webpack-config.js, postcss.config.js, start.sh, 

# Ignorer les répertoires et fichiers suivants
# Liés au serveur online:
# (Car partager manuellement sur le serveur)
.env
/scripts/
/storage/
/public/.htaccess
/public/info.php
/public/robots.txt

# Liés au conteneurs mysql:
/docker/mysql/

# Autres:
phpstan.neon
version.txt
.DS_Store
Thumbs.db
*.swp
*.swo
*.tmp
*.bak
*.log
*.odt