# Ignorer les répertoires
/secure/
/storage/
/docker/
/public/
/.env.*.key
/temp/*

# Ignorer les fichiers
.env
.env.local
.env.prod
.env.local.enc
.env.*.dec
.env.*.decrypted
*.key

# Fichiers systèmes
.DS_Store
Thumbs.db

# Caches
/cache/
/var/
/vendor/
/node_modules/

# Ignorer les fichiers temporaires d’éditeur
*.swp
*.swo
*.tmp
*.bak
*.log
*.odt

# Composer et npm lock
composer.lock
package-lock.json
