# <IfModule mod_rewrite.c>
    # Options +FollowSymLinks
    # RewriteEngine On

    # Rediriger la racine vers /home
    # RewriteCond %{REQUEST_URI} ^/$
    # RewriteRule ^$ /home [L,R=301]

    # Si l'URL ne contient pas /public, rediriger vers le dossier public
    # RewriteCond %{REQUEST_URI} !^/public/
    # RewriteRule ^(.*)$ public/$1 [L]

# </IfModule>

# <Files .htaccess>
# Order Allow,Deny
# Deny from all
# </Files>
