parameters:
    level: 6
    paths:
        - src
        - core
        - config
    excludePaths:
        - src/cache/*
    bootstrapFiles:
        - vendor/autoload.php
        - config/phpstan-bootstrap.php
