/* RESET DE BASE */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

html,
body {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
}

ul,
ol {
    list-style: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

button,
input,
textarea,
select {
    font: inherit;
}

input,
textarea,
select {
    box-sizing: border-box;
}