// Reveals:
.reveal,
.reveal-infiny {
    opacity: 0;
    transform: translateY(30px);
    /* point de départ générique */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.reveal.visible,
.reveal-infiny.visible {
    opacity: 1;
    transform: translateY(0);
    /* revient à la position normale */
}

// Reveals - Effects:

// Fade vertical classique
.slide-up {
    transform: translateY(30px);
}

.slide-down {
    transform: translateY(-30px);
}

// Slide horizontal
.slide-left {
    transform: translateX(30px);
}

.slide-very-left {
    transform: translateX(200px);
    opacity: 0;
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.slide-right {
    transform: translateX(-30px);
}

// Big slide horizontal avec opacity
.slide-very-right {
    transform: translateX(-200px);
    opacity: 0;
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

// Zoom
.zoom--in {
    transform: scale(0.8);
}

// Affichage des effets lors de l'état visible
.slide-up.visible,
.slide-down.visible,
.slide-left.visible,
.slide-right.visible,
.zoom--in.visible,
.slide-very-right.visible,
.slide-very-left.visible {
    transform: translate(0, 0) scale(1);
    opacity: 1; // s’assure que toutes deviennent visibles
}