{% extends "@Shared/layout/base.twig" %}

{% block title %}Tyrex - {{ parent() }}{% endblock %}

{% block content %}
<div class="section-tyrex-megasaure-presentation reveal slide-down">
	<h1>Bienvenue dans l'index du controller : TyrexMegasaure.</h1>
</div>
{% endblock %}
