{% extends "@Admin/Shared/UI/Views/Layout/admin_base.twig" %}

{% block title %}Laboratoire{% endblock %}

{% block content %}
{{ block('admin_subnav') }}

<div class="section-row">1</div>

<div class="section-row">
    <div class="section-row">1</div>
    <div class="section-row">2</div>
</div>

<div class="section-column">
    <div class="section-row">1</div>
    <div class="section-row">2</div>
</div>

<div class="section-hori">
    <div class="section-column">
        <div class="button">1</div>
        <div class="button">2</div>
    </div>
    <div class="section-row-big">
        <div class="button">3</div>    
    </div>
    <div class="section-column">
        <div class="button">4</div>
        <div class="button">5</div>        
        <div class="button">6</div>
        <div class="button">7</div>        
        <div class="button">8</div>
        <div class="button">9</div>        
    </div>
</div>

{% endblock content %}