img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-container {
    text-align: center;
    width: 100%;
}

.logo-container .logo {
    width: 20%;
    margin: 0% 40%;
}


span {
    color: #454545;
}

.cell-about {
    text-align: center;
    margin: 5% 10%;
}

.cell-about .image-auteur {
    float: left;
    width: 46%;
    margin: 0% 2%;
    padding-bottom: 8%;
}

.cell-about .text-description-about {
    float: right;
    width: 46%;
    text-align: center;
    font-size: 16px;
}

/* POUR ECRAN GSM */
@media only screen and (max-width: 700px) {
    .cell-about {
        margin: 12% 4% 0% 4%;
    }

    .cell-about .image-auteur {
        float: none;
        width: 80%;
        height: 60vw;
        margin: 8% 10%;
    }

    .cell-about .text-description-about {
        float: none;
        width: 80%;
        margin: 0% 10%;
    }
}