// header.scss

@use '@scss/foundations/variables' as variables;

// =====================================================================================
//                                   BARRE DE NAVIGATION
// =====================================================================================

// Barre de navigation :
.section-navbar {
    position: sticky;
    top: 0;
    z-index: 40;
    width: 100%;

    padding: 5px;
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    transition: background-color 0.5s ease, box-shadow 0.5s ease;
}


// Barre de navigation (si 'home') :
body[data-current-page="home"] .section-navbar {

    // Barre de navigation : Positionnement
    position: sticky;

    // Barre de navigation : Couleurs
    color: white;
    background-color: transparent;
}


// Barre de navigation (si 'home' + après scroll) :
body[data-current-page="home"] .section-navbar.scrolled {

    // Barre de navigation : Positionnement
    position: fixed;

    // Barre de navigation : Couleurs
    color: inherit;
    background-color: variables.$color-bg-white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

// Barre de navigation (si pas 'home') :
body:not([data-current-page="home"]) .section-navbar {

    // Barre de navigation : Positionnement
    position: relative;

    // Barre de navigation : Couleurs
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

// =====================================================================================
//                          BARRE DE NAVIGATION : LOGO
// =====================================================================================

// Barre de navigation - Logo :
.section-navbar-logo {

    // Logo : Positionnement
    flex: none; // L’élément ne comblera pas le vide
    align-self: stretch; // Étirement vertical dans le conteneur flex parent
}

// Barre de navigation - Logo img:
.section-navbar-logo img {

    // Logo img : Forme et taille
    height: 100%;
    width: auto;
}

// =====================================================================================
//                          BARRE DE NAVIGATION : MENU
// =====================================================================================

//  Barre de navigation - Menu:
.section-navbar-menu {

    // Menu : Enfants
    display: flex; // Les enfants deviennent flexible
    flex-direction: row; // Les enfants sont en ligne
    justify-content: center; // Les enfants sont centrés horizontalement (axe principale)
    align-items: center; // Les enfants sont centré veticalement (axe secondaire)    
    flex-grow: 1; // Les enfants comblent l’espace disponible (dépend de la taille du contenu)
    gap: 15px; // Les enfants seront séparés d'un espace
}

//  Barre de navigation - Menu li:
.section-navbar-menu li {

    // Menu li : Enfants
    display: flex; // Les enfants deviennent flexible
    flex-direction: row; // Les enfants sont en ligne
    justify-content: center; // Les enfants sont centrés horizontalement (axe principale)
    align-items: center; // Les enfants sont centré veticalement (axe secondaire)    
    flex: 1; // Les enfants comblent l’espace disponible (dépend de la taille du parent)
}

//  Barre de navigation (Menu) li a:
.section-navbar-menu li a {

    // Menu li a : Positionnement
    position: relative; // Les effets associés (::after) se positionneront sur cette élément

    // Menu li a : Enfants
    display: inline-flex; // Les enfants deviennent flexible horizontalement
    justify-content: center; // Les enfants sont centrés horizontalement (axe principale)
    align-items: center; // Les enfants sont centré veticalement (axe secondaire)    
    flex: 1; // Les enfants comblent l’espace disponible (dépend de la taille du parent)

    // Menu li a : Forme et taille
    padding: 10px 20px;
    text-decoration: none;
}

// (après survol) Barre de navigation (Menu) a:
.section-navbar-menu a::after {

    // Contenu invisible mais présent (pour l'effet)
    content: "";

    // Position
    position: absolute;
    left: 0;
    bottom: -3px; // distance sous le texte

    // Forme et style
    width: 0%; // démarre à 0 et s’étend au survol
    height: 2px;
    border-radius: 1px;

    // Couleurs
    background-color: #ccc;
    transition: width 0.3s ease;
}

// (si pas 'home') Barre de navigation (Menu) a:
body:not([data-current-page="home"]) .section-navbar-menu a {
    color: black;
}

// (si pas 'home' + au survol) Barre de navigation (Menu) a:
body:not([data-current-page="home"]) .section-navbar-menu a:hover {
    color: #ccc;
}

// (après survol) Barre de navigation (Menu) a:
.section-navbar-menu a:hover::after {
    width: 100%; // Underscore qui s’étend sur toute la largeur du lien
}

// (si pas 'home' + au survol) Barre de navigation (Menu) a:
body[data-current-page="home"] .section-navbar-menu a:hover {
    color: #ccc;
}

// (si 'home' + après survol) Barre de navigation (Menu) a:
body[data-current-page="home"] .section-navbar-menu a::after {
    background-color: white;
}

// (si 'home' + après survol + après scroll) Barre de navigation (Menu) a: 
body[data-current-page="home"] .section-navbar.scrolled .section-navbar-menu a::after {
    background-color: #ccc;
}

// (si pas 'home' + après survol) Barre de navigation (Menu) a:
body:not([data-current-page="home"]) .section-navbar-menu a::after {
    background-color: #ccc;
}

// =====================================================================================
//                          BARRE DE NAVIGATION : CONTACT
// =====================================================================================

// (par défaut) Barre de navigation (Contact):
.section-navbar-contact {

    // Barre de navigation - Contact : Enfants
    display: flex; // Les enfants deviennent flexible
    align-items: center; // Les enfants sont centrés verticalement (axe secondaire)
    gap: 0.5rem; // Les enfants seront séparés d'un espace

    // Barre de navigation - Contact : Textes
    font-weight: 300;
    font-size: smaller;

    // Barre de navigation - Contact : Effets
    transition: opacity 0.3s ease, transform 0.3s ease; // smooth
}

// (si 'home') Barre de navigation (Contact):
body[data-current-page="home"] .section-navbar-contact {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
}

// (si home + après scroll)  Barre de navigation (Contact):
body[data-current-page="home"] .section-navbar-contact.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

// (si pas home)  Barre de navigation (Contact):
body:not([data-current-page="home"]) .section-navbar-contact {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

// Barre de navigation (Contact) img:
.section-navbar-contact img {
    height: 30px;
    width: 30px;
}

// =====================================================================================
//                       (RESPONSIVE) BARRE DE NAVIGATION : MENU
// =====================================================================================
// ≈ 768px
@media (min-width: 48em) {

    // (Si tablette) Barre de navigation (Menu) li:
    .section-navbar-menu li {
        max-width: 100px; // Limite la largeur sur grands écrans
    }
}