@use '@scss/foundations/placeholders/section';
@use '@scss/foundations/variables' as variables;
@use '@scss/foundations/mixins/section' as section-mix;


// #314068 bleu fonce
// #3B82F6 + opacity 45% bleu clair
// #EBBB37 jaune fonce
// #F5B400 jaune clair

@mixin btn-base {
    @include section-mix.section-layout($flex: none,
        $width: none,
        $color: #ffffff,
        $gap: variables.$space-xs,
        $paddings: variables.$space-2xs variables.$space-s);
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;

    &:hover {
        transform: scale(1.05);
        transition:
            transform 200ms ease,
            box-shadow 200ms ease;
        will-change: transform;
    }
}

.btn-whatsapp {
    @include btn-base;
    background: linear-gradient(135deg, #25d366, #22bf5b);

    &:hover {
        background: #25d366;
    }
}

.btn-info {
    @include btn-base;
    background: linear-gradient(135deg, #3b82f6, #2563eb);

    &:hover {
        background: #3b82f6;
    }
}

.btn-warn {
    @include btn-base;
    background: linear-gradient(to right, #F5B400, #dd9836);

    &:hover {
        background: #F5B400;
    }
}

.btn-light {
    @include btn-base;
    background: white;
    color: #314068;

    &:hover {
        background: #A7C7FB;
    }
}