<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Erreur 500</title>
    <style>
        body {
            font-family: "Montserrat";
            text-align: center;
            padding: 80px;
            background-color: #f7f7f7;
        }
    </style>
</head>

<body>
    <h1>Une erreur 500 est survenue, veuillez contacter votre administrateur. </h1>
    <p>{{ message }}</p>
</body>

</html>
