<header>
  <div class="full-navbar">
    <div class="cell-hidden-littlescreen">_</div>
    <a href="home">
      <img src="{{ base_url_assets_img_logos ~ 'alupontr.png' }}" alt="logo-index" class="link logo-texte" />
    </a>

    <!-- NAV DESKTOP -->
    <div class="hidden-on-littlescreen">
      <div class="navbar">
        <a href="home">
          <div class="cell link border-bottom">Accueil</div>
        </a>

        <div class="cell link border-bottom dropdown">
          <a>Produits</a>
          <div class="dropdown-content">
            <div class="dropdown-content-link"><a href="procural">
                <div class="cell link">PROCURAL</div>
              </a></div>
            <div class="dropdown-content-link"><a href="product/list">
                <div class="cell link">Voir tous les produits</div>
              </a></div>
          </div>
        </div>

        <div class="cell link border-bottom dropdown">
          <a>Société</a>
          <div class="dropdown-content">
            <div class="dropdown-content-link"><a href="about">
                <div class="cell link">Qui sommes nous</div>
              </a></div>
            <div class="dropdown-content-link"><a href="history">
                <div class="cell link">Installations</div>
              </a></div>
          </div>
        </div>

        <div class="cell link border-bottom dropdown">
          <a>Nous contacter</a>
          <div class="dropdown-content">
            <div class="dropdown-content-link"><a href="contact">
                <div class="cell link">Envoyer un message</div>
              </a></div>
            <div class="dropdown-content-link"><a href="devis">
                <div class="cell link">Demander un devis</div>
              </a></div>
          </div>
        </div>

        <a href="about">
          <div class="cell link border-bottom">À propos</div>
        </a>
      </div>

      <div class="contact">
        <img style="width:15px;" src="{{ base_url_assets_img_logos ~ 'phone.png' }}" alt="contact">
        <span>+3264/67.32.00 <b><br>Horaire:</b> Lun - Ven 8h - 16h</span>
      </div>
    </div>

    <img id="searchTexte" style="width:15px;margin-right:1%;" src="{{ base_url_assets_img_logos ~ 'search.png' }}" alt="search">
    <input type="text" id="searchInputIndex" placeholder="Rechercher...">
    <ul id="searchResults"></ul>

    <!-- NAV MOBILE -->
    <div class="little-menu-hidden">
      <nav role="navigation">
        <div id="menuToggle">
          <input type="checkbox" />
          <span></span><span></span><span></span>
          <ul id="menu">
            <a href="acceuil">
              <li>Accueil</li>
            </a>
            <a href="devis">
              <li>Devis</li>
            </a>
            <a href="presentation">
              <li>Présentation</li>
            </a>
            <a href="gallery">
              <li>Gallerie</li>
            </a>
          </ul>
        </div>
      </nav>
    </div>
    <br>
  </div>
</header>
<script>
  const data = {{ searchbarDatas | json_encode | raw }};
</script>