        @use '@scss/foundations/config';

        .l-cluster {
            display: flex;
            flex-direction: row;

            &--centered {
                align-items: center;
                justify-content: center;
            }

            &--align-top {
                align-items: flex-start;
            }

            &--align-middle {
                align-items: center;
            }

            &--align-bottom {
                align-items: flex-end;
            }

            &--align-left {
                justify-content: flex-start;
            }

            &--align-center {
                justify-content: center;
            }

            &--align-right {
                justify-content: flex-end;
            }

            &--dark {
                background-color: var(--color-bg-inverse);
                color: var(--color-text-inverse);
            }

            &--light {
                background-color: var(--color-bg-base);
                color: var(--color-text-default);
            }

            @each $size in config.$space-sizes {
                &--gap-#{$size} {
                    gap: var(--space-#{$size});
                }

                &--p-#{$size} {
                    padding: var(--space-#{$size});
                }

                &--pb-#{$size} {
                    padding-block: var(--space-#{$size});
                }

                &--m-#{$size} {
                    margin: var(--space-#{$size});
                }

                &--mb-#{$size} {
                    margin-block: var(--space-#{$size});
                }
            }
        }