    @use '@scss/foundations/config';

    .stack {
        display: flex;
        flex-direction: column;

        &--centered {
            align-items: center;
            justify-content: center;
        }

        &--left {
            align-items: flex-start;
        }

        &--center {
            align-items: center;
        }

        &--right {
            align-items: flex-end;
        }

        &--up {
            justify-content: flex-start;
        }

        &--middle {
            justify-content: center;
        }

        &--down {
            justify-content: flex-end;
        }

        &--border-left {
            border-left: 1px solid var(--color-border-default);
        }

        &--border-right {
            border-right: 1px solid var(--color-border-default);
        }

        &--border-top {
            border-top: 1px solid var(--color-border-default);
        }

        &--border-bottom {
            border-bottom: 1px solid var(--color-border-default);
        }

        @each $size in config.$space-sizes {
            &--gap-#{$size} {
                gap: var(--space-#{$size});
            }

            &--p-#{$size} {
                padding: var(--space-#{$size});
            }
        }

        @each $size in config.$space-sizes {
            &--gap-#{$size} {
                gap: var(--space-#{$size});
            }

            &--p-#{$size} {
                padding: var(--space-#{$size});
            }
        }
    }