    @use '@scss/foundations/config';

    .l-stack {
        display: flex;
        flex-direction: column;

        &--centered {
            align-items: center;
            justify-content: center;
        }

        &--align-left {
            align-items: flex-start;
        }

        &--align-center {
            align-items: center;
        }

        &--align-right {
            align-items: flex-end;
        }

        &--align-top {
            justify-content: flex-start;
        }

        &--align-middle {
            justify-content: center;
        }

        &--align-bottom {
            justify-content: flex-end;
        }

        &--border-left {
            border-left: 1px solid var(--color-border-default);
        }

        &--border-right {
            border-right: 1px solid var(--color-border-default);
        }

        &--border-top {
            border-top: 1px solid var(--color-border-default);
        }

        &--border-bottom {
            border-bottom: 1px solid var(--color-border-default);
        }

        &--dark {
            background-color: var(--color-bg-inverse);
            color: var(--color-text-inverse);
        }

        &--light {
            background-color: var(--color-bg-base);
            color: var(--color-text-default);
        }

        @each $size in config.$space-sizes {
            &--gap-#{$size} {
                gap: var(--space-#{$size});
            }

            &--p-#{$size} {
                padding: var(--space-#{$size});
            }

            &--pb-#{$size} {
                padding-block: var(--space-#{$size});
            }

            &--m-#{$size} {
                margin: var(--space-#{$size});
            }

            &--mb-#{$size} {
                margin-block: var(--space-#{$size});
            }
        }
    }