<section class="section__subnavbar">
<h3>Gestion des fiches:</h3><br>
<a href="admin/product">Produits</a> | 
<a href="admin/category">Catégories</a> | 
<a href="admin/user">Utilisateurs</a> | 
<a href="admin/laboratory">Laboratoire</a>
<br><br>
<hr\>
<h3>Autres gestion:</h3><br>
</section>
