.section__slides {
    font-family: "Roboto", sans-serif;
    color: #010101;
    font-weight: 100;
    max-height: 100vh;
    overflow-y: hidden;
    box-shadow: 0 8px 40px rgb(0 0 0 / 0.1);
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-bottom: 2%;
}

.section__slides::-webkit-scrollbar {
    display: none;
}

.slides__slide {
    display: none;
}

.slides__slide.active {
    display: block;
    min-width: 100vw;
    width: 100%;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.slides__slide__texts {
    position: absolute;
    text-align: center;
}

.slides__slide__texts h2 {
    color: #fff;
    font-size: 5vw;
    font-weight: 10;
    line-height: 1.15;
    text-shadow: 2px 2px 5px rgb(0 0 0 / 0.7);
}

.slides__slide__texts a {
    font-size: 1vw;
    border-radius: 1px;
    padding: 2% 5%;
    font-weight: 700;
    border: 0.1vw #fff solid;
    color: #fff;
    text-shadow: 2px 2px 5px rgb(0 0 0 / 0.7);
    transition: background-color 0.2s linear, color 0.2s linear;
}

.slides__slide__texts a:hover {
    background-color: #fff;
    color: #000;
    text-shadow: none;
}

.slides__style--arrow_right,
.slides__style--arrow_left {
    opacity: 0.6;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 64px;
    height: 64px;
    z-index: 2;
    cursor: pointer;
}

.slides__style--arrow_right {
    right: 1rem;
}

.slides__style--arrow_left {
    left: 1rem;
}

.slides__style--arrow_right:hover,
.slides__style--arrow_left:hover {
    opacity: 1;
}

.slides__style--arrow_right::before,
.slides__style--arrow_right::after,
.slides__style--arrow_left::before,
.slides__style--arrow_left::after {
    box-shadow: rgb(0 0 0 / 0.2) 0 12px 28px 0, rgb(0 0 0 / 0.1) 0 2px 4px 0, rgb(255 255 255 / 0.05) 0 0 0 1px inset;
    content: "";
    position: absolute;
    width: 64px;
    height: 16px;
    background-color: #fff;
}

.slides__style--arrow_right::before {
    transform: rotate(45deg);
}

.slides__style--arrow_right::after {
    transform: rotate(-45deg);
    bottom: 14px;
}

.slides__style--arrow_left::before {
    transform: rotate(-45deg);
}

.slides__style--arrow_left::after {
    transform: rotate(45deg);
    bottom: 14px;
}

@media screen and (max-width: 720px) {

    .slides__style--arrow_right::before,
    .slides__style--arrow_right::after,
    .slides__style--arrow_left::before,
    .slides__style--arrow_left::after {
        width: 32px;
        height: 12px;
    }

    .slides__style--arrow_right::after,
    .slides__style--arrow_left::after {
        bottom: 16px;
    }

    .slides__style--arrow_right::before,
    .slides__style--arrow_left::before {
        top: 20px;
    }

    .slides__style--arrow_right::before,
    .slides__style--arrow_right::after {
        right: 0;
    }
}