@use '@scss/foundations/placeholders';
@use '@scss/foundations/variables' as variables;
@use '@scss/foundations/mixins/section' as section-mix;

.section-detail-link {
    @include section-mix.section-layout($paddings: variables.$space-xs);

    .link {
        @extend %section-row-left;

        .breadcrumb {
            list-style: none;
            display: flex;
            padding: 0;
            margin-left: 25%;
            background: none;
            border-left: 2px solid darkgrey;
            padding-left: 10px;
            width: max-content;
        }

        .breadcrumb-item {
            font-size: 14px;
        }

        .breadcrumb-item+.breadcrumb-item:before {
            content: ">";
            padding: 0 0.5em;
            color: #6c757d;
        }

        .breadcrumb-item a {
            text-decoration: none;
            color: #007bff;
        }

        .breadcrumb-item a:hover {
            text-decoration: underline;
        }

        .breadcrumb-item.active {
            color: #6c757d;
            pointer-events: none;
        }
    }
}

.section-detail-product {
    @extend %section-row;

    .description {
        @include section-mix.section-layout($display: grid, $gap: variables.$space-xs, $direction: column, $paddings: variables.$space-m, $backgroundColor: variables.$color-bg-white, $backdropBlur: 10px);
    }

    .images {
        @include section-mix.section-layout($direction: column, $gap: variables.$space-xs, $paddings: variables.$space-xs);

        .image-principal {
            @include section-mix.section-layout($height: variables.$container-xs, $width: variables.$container-xs, $paddings: variables.$space-xs);

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                display: block;
            }
        }

        .gallery {
            @include section-mix.section-layout($display: grid, $direction: column, $paddings: variables.$space-s, $backgroundColor: variables.$color-bg-white,
                $backdropBlur: 10px,
                $border: 1px solid rgba(255, 255, 255, 0.3),
                $boxShadow: 0 8px 40px rgb(0 0 0 / 0.1));

            .previews {
                @include section-mix.section-layout($gap: variables.$space-2xs);

                .preview {
                    @include section-mix.section-layout($height: variables.$container-4xs, $width: variables.$container-4xs, $paddings: 3px, $border: 2px solid lightgrey);

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        /* <-- la clé */
                        display: block;
                    }
                }
            }
        }
    }

    .details {
        @include section-mix.section-layout($direction: column, $gap: variables.$space-s, $paddings: variables.$space-xs);

        .infos {
            @include section-mix.section-layout($display: grid, $direction: column, $gap: variables.$space-xs, $paddings: variables.$space-s, $backgroundColor: variables.$color-bg-white, $backdropBlur: 10px,
                $border: 1px solid rgba(255, 255, 255, 0.3),
                $boxShadow: 0 8px 40px rgb(0 0 0 / 0.1));
        }
    }
}