{% extends "layout.twig" %}
{% block title %}Contacter le service client{% endblock %}
{% block head %}
<script>
  loadCss("{{ base_url_assets_css ~ 'devisStylesheet.css' }}");

  document.addEventListener("DOMContentLoaded", function () {
    const cells = document.getElementsByClassName('cell border-bottom');
    if (cells.length > 3) {
      cells[3].style.borderBottom = "2px solid darkgrey";
    }
  });
</script>
{% endblock %}

{# Bloc CONTENU principal #}
{% block content %}
<div class="devis-join-section"><br><br>
  <h2>Envoyer un message</h2><br>
  <h5 style="color:red;">Les champs marqués d'un astérisque (*) doivent obligatoirement être remplis.</h5>

  <form action="contact" name="uploadpdf" method="post" enctype="multipart/form-data">
    
    <label for="firstname">Nom:</label>
    <input type="text" id="firstname" name="firstname" maxlength="10" placeholder="LaPierre"><br><br>

    <label for="lastname">Prénom:</label>
    <input type="text" id="lastname" name="lastname" maxlength="10" placeholder="François"><br><br>

    <label for="company">Société:</label>
    <input type="text" id="company" name="company" maxlength="10" placeholder="Entreprise"><br><br>

    <label for="email">* Adresse e-mail:</label>
    <input type="email" id="email" name="email" placeholder="***@mail.com" required><br><br>

    <label for="message">Communication (300 caractères max):</label><br>
    <textarea style="resize:none;" id="message" name="message" placeholder="Bonjour, voici un message..." maxlength="300" rows="4" cols="50"></textarea><br><br>

    <button type="submit">Envoyer</button>
  </form>
</div>
{% endblock %}
