{% extends "@Shared/layout/base.twig" %}

{% block title %}Steven - {{ parent() }}{% endblock %}

{% block content %}
<div class="section-steven-fernando-presentation reveal slide-down">
	<h1>Bienvenue dans l'index du controller : StevenFernando.</h1>
</div>
{% endblock %}
