// scss/pages/about.scss
@use '@scss/foundations/placeholders';
@use '@scss/foundations/variables' as variables;
@use '@scss/foundations/mixins/section' as section-mix;

.section-about-logo {
    @include section-mix.section-layout($paddings: variables.$space-s, $margins: variables.$space-s);
    border-bottom: 1px solid lightgrey;

    .image {
        @include section-mix.section-layout($flex: 0 0 variables.$container-xs);
    }
}

.section-about-presentation {
    @include section-mix.section-layout($align: flex-start);

    .image {
        @include section-mix.section-layout($flex: 0 0 variables.$container-s,
            $gap: none,
            $margins: 0 auto);
    }

    .texte {
        @include section-mix.section-layout($flex: 0 0 variables.$container-s, $textAlign: left);
    }
}

.section-about-videos {

    .videos {
        @extend %section-row;

        .video {
            @include section-mix.section-layout($flex: 1 1 variables.$container-xs, $minWidth: variables.$container-2xs, $margins: variables.$space-s, $boxShadow: 0 20px 60px rgba(0, 0, 0, 0.08));

            video {
                aspect-ratio: 16 / 9;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}