// scss/pages/about.scss
@use '@scss/foundations/placeholders/section';
@use '@scss/foundations/values' as values;
@use '@scss/foundations/mixins' as mixins;

.section-about-logo {
    @include mixins.section-layout($paddings: values.$space-s, $margins: values.$space-s);
    border-bottom: 80px solid lightgrey;

    .image {
        @include mixins.section-layout($flex: 0 0 values.$container-xs);
    }
}

.section-about-presentation {
    @include mixins.section-layout($align: flex-start);

    .image {
        @include mixins.section-layout($flex: 0 0 values.$container-s,
            $gap: none,
            $margins: 0 auto);
    }

    .texte {
        @include mixins.section-layout($flex: 0 0 values.$container-s, $textAlign: left);
    }
}

.section-about-videos {

    .videos {
        @extend %section-row;

        .video {
            @include mixins.section-layout($flex: 1 1 values.$container-xs, $minWidth: values.$container-2xs, $margins: values.$space-s, $boxShadow: 0 20px 60px rgba(0, 0, 0, 0.08));

            video {
                aspect-ratio: 16 / 9;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}