<header>
  <div class="navbar">
    <div class="navbar__home">
      <a href="/" aria-label="Accueil">
        <img src="{{ encore_asset('img/about/logos/alupon.png') }}" alt="Alupon - Accueil">
      </a>
    </div>

    <nav class="navbar__menu" aria-label="Navigation principale">
      <ul>
        <li><a href="product/list">Produits</a></li>
        <li><a href="about">Société</a></li>
        <li><a href="contact">Contact</a></li>
        {% if userSession %}
        <li><a href="auth/logout">Profil {{userSession.email}}</a></li>
        <li><a href="auth/logout">Déconnection</a></li>
        {% else %}
        <li><a href="auth/login">Connection</a></li>
        {% endif %}
      </ul>
    </nav>

    <div class="navbar__contact">
      <img src="{{ encore_asset('img/layouts/emoticons/phone.png') }}" alt="Téléphone">
      <span>+3264/67.32.00 <b><br>Horaire:</b> Lun - Ven 8h - 16h</span>
    </div>

  </div>
</header>
