// scss/partials/_home.scss
@use '@scss/foundations/placeholders/section';
@use '@scss/foundations/values' as values;
@use '@scss/foundations/mixins' as mixins;

.section-home-presentation {
    @include mixins.section-layout($maxWidth: values.$container-wrapper, $paddings: values.$space-m);

    .presentation-seo {
        @include mixins.section-layout($flex: 2,
            $direction: row,
            $gap: values.$space-s,
            $paddings: values.$space-s);

        .seo-logo {
            img {
                width: values.$container-xs;
                height: auto;
                border-bottom: 1px solid rgba(100, 100, 100, 0.5);
            }
        }

        .seo-content {
            @include mixins.section-layout($direction: column,
                $gap: values.$space-xs,

                $textAlign: left);
        }
    }

    .presentation-image {
        @include mixins.section-layout($direction: column,
            $paddings: values.$space-s);

        .image-zone {
            height: values.$container-s;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
                border-radius: 0 10px 0 0;
            }
        }
    }
}

.section-home-images {
    @include mixins.section-layout();

    .image-big {
        height: values.$container-xs;
    }

    .image {
        height: values.$container-2xs;
    }

    .image,
    .image-big {
        @include mixins.section-layout();
        overflow: hidden;
        position: relative;

        img {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            transform: scale(1.08);
            /* léger zoom initial */
            transition: transform 400ms ease;
            will-change: transform;
        }

        /* TEXTE CENTRÉ */
        .img-overlay-content {
            position: absolute;
            inset: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: white;
            text-align: center;
            z-index: 2;
        }

        /* OVERLAY */
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: rgba(0, 0, 0, 0.35);
            transition: opacity 400ms ease;
            z-index: 1;
        }

        /* HOVER EFFECT */
        &:hover::before {
            opacity: 0;
        }

        &:hover img {
            transform: scale(1);
        }

    }
}

.section-home-contactus {
    @include mixins.section-layout($direction: column,
        $paddings: values.$space-m,
        $gap: values.$space-s);
}

.section-home-information-light {
    @include mixins.section-layout($paddings: values.$space-m values.$space-none,
        $background: linear-gradient(180deg,
            #ffffff 0%,
            #e6edf3 100%));
}

.section-home-information-dark {
    @include mixins.section-layout($paddings: values.$space-m values.$space-none,
        $background: linear-gradient(135deg,
            #364c61 0%,
            #b0bcc9 100%),
        $color: #FFFFFF);
}

.section-home-information-light,
.section-home-information-dark {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

    .texte {
        @include mixins.section-layout($direction: column,
            $gap: values.$space-s,
            $align: flex-start,
            $textAlign: left);
    }

    .texte-no-gap {
        @include mixins.section-layout($direction: column,
            $align: flex-start,
            $textAlign: left);
    }

    h2 {
        padding-bottom: values.$space-s;
        border-bottom: 1px solid rgba(100, 100, 100, 0.5);
    }

    .left,
    .right {
        @include mixins.section-layout($direction: column,
            $textAlign: left,
            $paddings: values.$space-m);

        .image {
            height: values.$container-s;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.section-home-localisation {
    width: 100%;
}

@media (max-width: 768px) {

    .section-home-information-light,
    .section-home-information-dark {

        .left,
        .right {
            @include mixins.section-layout($direction: column,
                $textAlign: left,
                $paddings: values.$space-s);
        }
    }

    .section-home-images,
    .section-home-presentation,
    .section-home-information-light,
    .section-home-information-dark {
        flex-direction: column;
    }

    .section-home-images {

        .image-big,
        .image {
            height: values.$container-2xs;
        }
    }

    .section-home-presentation {
        padding: values.$space-none;

        .presentation-image,
        .presentation-seo {
            @include mixins.section-layout($direction: column,
                $textAlign: left,
                $gap: values.$space-m,
                $paddings: values.$space-s);
        }
    }
}