@use '@scss/foundations/placeholders/section';
@use '@scss/foundations/values' as values;
@use '@scss/foundations/mixins' as mixins;

.section-home-hero {
    height: 100dvh;
}

.section-home-hero .hero-content {
    @include mixins.section-layout($direction: column, $paddings: values.$space-l values.$space-m values.$space-m);
    overflow: hidden;
    height: 100%;
}

.section-home-hero .hero-content p {
    color: #fff;
    text-shadow: 2px 2px 5px rgb(0 0 0 / 0.7);
}

.section-home-hero .hero-content .content-texte {
    @include mixins.section-layout($direction: column, $gap: values.$space-xs);
}

.section-home-hero .hero-content .content-texte h1,
.section-home-hero .hero-content .content-texte h2 {
    text-align: center;
    color: #fff;
    font-weight: 200;
    line-height: 1.15;
    text-shadow: 2px 2px 5px rgb(0 0 0 / 0.9)
}

.section-home-hero .hero-content .content-texte h1 {
    font-size: 3vw;
    margin: values.$space-none values.$space-m;
}

.section-home-hero .hero-content .content-texte h2 {
    font-size: 2vw;
}

.section-home-hero .hero-content .content-cta {
    @include mixins.section-layout($direction: column);
}

.section-home-hero .hero-content .content-cta .cta-button {
    @include mixins.section-layout($gap: values.$space-s);
}

.section-home-hero .hero-content .content-cta .cta-social-media {
    @include mixins.section-layout($display: inline-flex,
        $gap: values.$space-s,
        $color: #fff);
    font-weight: 300;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.section-home-hero .hero-content .content-cta .cta-social-media .media-facebook,
.section-home-hero .hero-content .content-cta .cta-social-media .media-phone {
    @include mixins.section-layout($gap: values.$space-s);

    img {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }
}

.section-home-hero .hero-content .content-cta .cta-social-media .media-facebook {
    justify-content: flex-end;
}

.section-home-hero .hero-content .content-cta .cta-social-media .media-phone {
    justify-content: flex-start;
}

.section-home-hero .hero-background {
    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.section-home-hero .hero-background-mobile {
    display: none;
    justify-content: center;
}

.section-home-hero .hero-background-mobile .logo {
    @include mixins.section-layout($flex: 0 0 values.$container-2xs);
}

.section-home-hero .hero-background-mobile .background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

@media (max-width: 768px) {

    .section-home-hero .hero-background {
        display: none;
    }

    .section-home-hero .hero-background-mobile {
        display: flex;
        padding: values.$space-xs;
    }

    .section-home-hero .hero-content {
        padding: values.$space-none;
    }

    .section-home-hero .hero-content .content-texte {
        gap: values.$space-s;
    }

    .section-home-hero .hero-content .content-texte h1 {
        font-size: 6vw;
        margin: values.$space-none;
        font-weight: 300;
    }

    .section-home-hero .hero-content .content-texte h2 {
        font-size: 3vw;
    }

    .section-home-hero .hero-content .content-texte p {
        font-size: 3vw;
    }

    .section-home-hero .hero-content .content-cta .cta-button {
        @include mixins.section-layout($paddings: values.$space-none values.$space-s, $gap: values.$space-none values.$space-xs);
    }

    .section-home-hero .hero-content .content-cta .cta-social-media {
        padding: values.$space-s values.$space-none;
        gap: values.$space-none;
        align-items: flex-start;
    }

    .section-home-hero .hero-content .content-cta .cta-social-media .media-facebook,
    .section-home-hero .hero-content .content-cta .cta-social-media .media-phone {
        @include mixins.section-layout($gap: values.$space-xs);
    }
}