{% extends "@Admin/Shared/UI/Views/Layout/admin_base.twig" %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block content %} {# ... {% endblock content %} #}
{{ block('admin_subnav') }}

{# superadmin => Categories => Afficher arborescence #}
<section class="section-admin-read-users">
    <div class="side-section"></div>
    <section class="form-section-x3">
        <h2>Users déjà présents:</h2>
        {% for user in users %}
            {% set new_index = index ~ loop.index %}
            <p>{{ new_index }}. {{ user.email }}
            {% for role in user.getRoles %}
                - Rôle: {{ role.name }}</p>
            {% endfor %}
        {% endfor %}
    </section>
    <div class="side-section"></div>
</section>
{% endblock content %}